@-moz-document domain("wis.fit.vutbr.cz") {
html {
  background-color: #000;
  color: white;
}
html body table tbody tr td div#clock {
  color: #fff;
  font-weight: bolder;
}
body,td,th,iframe,.text {
  color: white;
}
a b {
  color: #009fff;
}
a.menu2:visited {
  color: #2c85bb;
}
A:link {
  color: #009fff;
}
A:visited {
  color: #2c85bb;
}
address {
  color: white;
}
a.stab {
  color: white;
  background-color: #00a9e0;
}
a.stab:hover {
  background-color: #006f92;
}
a.stabs {
  color: #3fb2ff;
  background-color: black;
}
a.stabs:hover {
  color: white;
}
html body table.noprint tbody tr td a img.FITlogo {
  margin-left: -1px;
}
html body table.noprint tbody tr td {
  color: white;
  background-color: #00a9e0;
  border-left: 1px solid white;
}
html body table.noprint tbody tr td:hover {
  background-color: #006f92;
}
a.sbtn,a.sbtnr,a.sbtng,a.sbtno {
   color:white;
  box-shadow: none;
}
a.sbtn {
  background: #2b80b9;
}
a.sbtnr {
  background: #fa503f;
}
a.sbtng {
  background: #149b5d;
}
a.sbtno {
  background: #3498db;
  width: 500px;
}
a.sbtn:hover,a.sbtn:focus,a.sbtnr:hover,a.sbtnr:focus,a.sbtno:hover,a.sbtno:focus, a.sbtng:hover,a.sbtng:focus {
  color: #dfdf0c;
}
.red {
  color: #f00 !important;
}
.green {
  color: #00d900 !important;
}
/* Recommended - Povinný */
html body table tbody [bgcolor="#ffdead"] {
  background: #5b4b39;
}
/* Elective - Volitelný */
html body table tbody [bgcolor="#f7f7af"] {
  background: #5d5d40;
}
html body table tbody [bgcolor="#ff8080"] {
  background: #ac5555;
}
html body table tbody [bgcolor="#ff0000"] {
  background: #df0000;
}
html body table tbody [bgcolor="#add8e6"] {
  background: #5a7077;
}
html body table tbody [bgcolor="#aff7af"] {
  background: #608860;
}
html body table tbody [bgcolor="#ff7f7f"] {
  background: #773b3b;
}
html body table tbody tr td table.stbl tbody tr td {
  color: black;
}
html body table tbody tr td table tbody tr td table.stbl tbody tr td {
  color:black;
}
html body table tbody tr td form table tbody tr td input.forminput {
  background-color: white !important;
}
html body table tbody tr td div form table tbody tr td input.forminput {
  color: white;
  background-color: #282828 !important;
}
html body table tbody tr td form table tbody tr td b a.bar:link {
  color: #00b7ff;
}
html body table tbody tr td form table tbody tr td b a.bar:visited {
  color: #0085dd;
}
input {
  color:white;
  background-color: grey !important;
  border-color: white;
}

}
